

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 180px rgba(132, 201, 134,0.8) inset;
}

.instructions {
  padding-top: 30px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.laneOneBox, .laneTwoBox {

  padding: 30px;
  margin: -15px;
  margin-left: 10px;
}
/*
.laneOneBox, .laneTwoBox {
  border: 2px solid red;
  padding: 5px;
}*/

.lane {
  margin: 10px;
  padding: 20px;

}

.winning {
  margin-bottom: -10px;
  padding-bottom: -20px;
}


.playerOne .playerTwo {
  height: 50px;
}

@media (max-width: 58em) {
.playerOne .playerTwo {
  min-height: 15px;
}
}

@media (max-width: 58em) {
.grass {
  min-height: 15px;
}
}



@media (max-width: 58em) {
.grass.invisOnSm {
visibility:hidden;
}
}